<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  https://go.microsoft.com/fwlink/f?LinkId=169433
-->
<configuration>
  <connectionStrings>
    <add name="madMaterialsConnectionString" connectionString="Data Source=localhost;Initial Catalog=madMaterials;Persist Security Info=True;User ID=sa;Password=123123" providerName="System.Data.SqlClient" />
    <add name="ceshiConnectionString" connectionString=" Database=ceshi;Data Source=localhost;User=root;PWD=123123 " providerName="MySql.Data.MySqlClient" />
    <add name="ConnectionString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Database.mdf;Integrated Security=True;connect timeout=120;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>

    
    <siteMap>
      <!-- 修改sitemap文件 -->
      <providers>
        <add type="System.Web.XmlsiteMapProvider" name="Web" siteMapFile="~/控件进阶/构建WEB框架实例1/Web.sitemap" />
      </providers>
    </siteMap>

    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="System.ComponentModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Drawing.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <!--maxRequestLength最大请求长度，KB为单位。executionTimeout上传连接时间。且如果不满足下面规则
    就会报错，而且这个错误页面.net是无法捕获的，为了人性化，最好通过客户端代码提前做好预防，这只是最后一道防线。
     requestLengthDiskThreshold不能超过maxRequestLength 可选的 Int32 属性。
    指定输入流缓冲阈值限制（以字节为单位）。该值不应超过 maxRequestLength 属性。如果上传文件大小大于
    该数值会导致上传不完整从而导致失败-->
    <httpRuntime targetFramework="4.6.1" maxRequestLength="8192" executionTimeout="45" requestLengthDiskThreshold="170" />
  <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>
  <system.webServer>
    <directoryBrowse enabled="true" />
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>